<settings>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="usesmallercategories" type="bool">false</setting>
    <setting id="hide_moviescategory" type="bool">false</setting>
    <setting id="hide_recentlymovies" type="bool">false</setting>
    <setting id="hide_inprogressmovies" type="bool">false</setting>
    <setting id="hide_unwatchedmovies" type="bool">false</setting>
    <setting id="hide_randommovies" type="bool">false</setting>
    <setting id="hide_genremovies" type="bool">false</setting>
    <setting id="hide_sets" type="bool">false</setting>
    <setting id="hide_tvshowscategory" type="bool">false</setting>
    <setting id="hide_recentlytvshows" type="bool">false</setting>
    <setting id="homebanner" type="bool">false</setting>
    <setting id="hide_nextepisodes" type="bool">false</setting>
    <setting id="hide_inprogresstvshows" type="bool">false</setting>
    <setting id="hide_unwatchedtvshows" type="bool">false</setting>
    <setting id="hide_nextairingepisodes" type="bool">false</setting>
    <setting id="hide_genretvshows" type="bool">false</setting>
    <setting id="hide_studiotvshows" type="bool">false</setting>
    <setting id="hidewidgetlabels" type="bool">false</setting>
    <setting id="hide_musiccategory" type="bool">false</setting>
    <setting id="hide_recentlyaddedalbums" type="bool">false</setting>
    <setting id="hide_recentlyplayedalbums" type="bool">false</setting>
    <setting id="hide_randomalbums" type="bool">false</setting>
    <setting id="hide_randomartists" type="bool">false</setting>
    <setting id="hide_executableaddons" type="bool">false</setting>
    <setting id="extendedosdinfo" type="bool">false</setting>
    <setting id="disable_pauseonextrainfos" type="bool">false</setting>
    <setting id="hide_background_fanart" type="bool">false</setting>
    <setting id="enable_artistslideshow" type="bool">false</setting>
    <setting id="animate_artistslideshow" type="bool">false</setting>
    <setting id="hide_fanartopacity" type="bool">false</setting>
    <setting id="enable_visualisation" type="bool">false</setting>
    <setting id="alt_color.lyrics" type="bool">false</setting>
    <setting id="hide_gameaddons" type="bool">false</setting>
    <setting id="hide_audioaddons" type="bool">false</setting>
    <setting id="powermenu_iconlist" type="bool">false</setting>
    <setting id="skin.toggledebug" type="bool">false</setting>
    <setting id="trailerfullscreen" type="bool">false</setting>
    <setting id="hide_addonscategories" type="bool">false</setting>
    <setting id="hide_mostplayedalbums" type="bool">false</setting>
    <setting id="hide_videoaddons" type="bool">false</setting>
    <setting id="skinshortcuts-widget-DiscWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/disc.jpg" type="bool">true</setting>
    <setting id="hide_unplayedalbums" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MoviesWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/movies.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-TVShowsWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/tvshows.jpg" type="bool">true</setting>
    <setting id="enable_animatedlyrics" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/music.jpg" type="bool">true</setting>
    <setting id="show_visualisationbehind" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideosWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/musicvideos.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-LiveTVWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/livetv.jpg" type="bool">true</setting>
    <setting id="powermenu_panel" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RadioWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/radio.jpg" type="bool">true</setting>
    <setting id="enable_scrollingtext" type="bool">false</setting>
    <setting id="skinshortcuts-widget-GamesWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/games.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-AddonsWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/addons.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-PicturesWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/pictures.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-VideoWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/video.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-FavoritesWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/favorites.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WeatherWidget" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/weather.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/libreelec.png" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/coreelec.png" type="bool">true</setting>
    <setting id="hide_androidapps" type="bool">false</setting>
    <setting id="hide_imageaddons" type="bool">false</setting>
    <setting id="hide_tvcategories" type="bool">false</setting>
    <setting id="hide_lastplayedchannels" type="bool">false</setting>
    <setting id="hide_recordingchannels" type="bool">false</setting>
    <setting id="hide_allchannels" type="bool">false</setting>
    <setting id="hide_nowrecordingchannel" type="bool">false</setting>
    <setting id="hide_nextrecordingchannel" type="bool">false</setting>
    <setting id="hide_radiocategories" type="bool">false</setting>
    <setting id="hide_lastplayedradio" type="bool">false</setting>
    <setting id="disablecontext:script.artwork.beef" type="bool">false</setting>
    <setting id="enablecontext:script.artwork.beef.debug" type="bool">false</setting>
    <setting id="hide_nextrecordingradio" type="bool">false</setting>
    <setting id="hide_musicvideocategory" type="bool">false</setting>
    <setting id="hide_recentlyaddedmusicvideos" type="bool">false</setting>
    <setting id="hide_unwatchedmusicvideos" type="bool">false</setting>
    <setting id="hide_mostplayemusicvideos" type="bool">false</setting>
    <setting id="hide_videoplaylists" type="bool">false</setting>
    <setting id="hide_videosources" type="bool">false</setting>
    <setting id="hide_randommusicvideoartists" type="bool">false</setting>
    <setting id="hide_randommusicvideo" type="bool">false</setting>
    <setting id="hide_musicvideostudios" type="bool">false</setting>
    <setting id="hide_videocategories" type="bool">false</setting>
    <setting id="hide_mediaflags" type="bool">false</setting>
    <setting id="background_showvideo" type="bool">false</setting>
    <setting id="opacity_100" type="bool">false</setting>
    <setting id="opacity_0" type="bool">false</setting>
    <setting id="opacity_5" type="bool">false</setting>
    <setting id="hide_nowrecordingradio" type="bool">false</setting>
    <setting id="hide_allradios" type="bool">false</setting>
    <setting id="opacity_10" type="bool">false</setting>
    <setting id="opacity_15" type="bool">false</setting>
    <setting id="opacity_20" type="bool">false</setting>
    <setting id="hide_recordingradio" type="bool">false</setting>
    <setting id="opacity_25" type="bool">false</setting>
    <setting id="opacity_40" type="bool">false</setting>
    <setting id="opacity_45" type="bool">false</setting>
    <setting id="opacity_50" type="bool">false</setting>
    <setting id="opacity_55" type="bool">false</setting>
    <setting id="opacity_60" type="bool">false</setting>
    <setting id="opacity_65" type="bool">false</setting>
    <setting id="opacity_70" type="bool">false</setting>
    <setting id="opacity_75" type="bool">false</setting>
    <setting id="opacity_90" type="bool">false</setting>
    <setting id="opacity_95" type="bool">false</setting>
    <setting id="no_fanart" type="bool">false</setting>
    <setting id="enableextrafanart" type="bool">true</setting>
    <setting id="skin_enableanimatedposters" type="bool">false</setting>
    <setting id="background_showvisualisation" type="bool">false</setting>
    <setting id="enable_power_background" type="bool">false</setting>
    <setting id="opacity_35" type="bool">false</setting>
    <setting id="enable_settings_background" type="bool">false</setting>
    <setting id="enable_search_background" type="bool">false</setting>
    <setting id="opacity_30" type="bool">false</setting>
    <setting id="no_animations" type="bool">false</setting>
    <setting id="enablegradientcolor" type="bool">false</setting>
    <setting id="homeclearlogo" type="bool">false</setting>
    <setting id="show_borders" type="bool">false</setting>
    <setting id="greyedout_watched" type="bool">false</setting>
    <setting id="greyedout_watched_home" type="bool">false</setting>
    <setting id="enable_librarydiscart" type="bool">false</setting>
    <setting id="enable_homediscart" type="bool">false</setting>
    <setting id="opacity_80" type="bool">false</setting>
    <setting id="hidewatchedmoviesfromrecently" type="bool">false</setting>
    <setting id="hide_thumbforspoiler" type="bool">false</setting>
    <setting id="opacity_85" type="bool">false</setting>
    <setting id="hidewatchedepisodesfromrecently" type="bool">false</setting>
    <setting id="show_moviessetflag" type="bool">false</setting>
    <setting id="show_mediastudioflag" type="bool">false</setting>
    <setting id="show_mediarecordlabelflag" type="bool">false</setting>
    <setting id="show_mediasourceflag" type="bool">false</setting>
    <setting id="show_mediaresolutionflag" type="bool">false</setting>
    <setting id="show_mediavideocodecflag" type="bool">false</setting>
    <setting id="show_mediaaspectratioflag" type="bool">false</setting>
    <setting id="show_mediaaudiocodecflag" type="bool">false</setting>
    <setting id="show_mediaaudiochannelsflag" type="bool">false</setting>
    <setting id="show_mediadurationflag" type="bool">false</setting>
    <setting id="show_mediaendtimeflag" type="bool">false</setting>
    <setting id="show_weatherinfo" type="bool">false</setting>
    <setting id="enable_homediscartoverlay" type="bool">false</setting>
    <setting id="homeclearlogomenu" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="enable_settingswidget" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="forcedviews.enabled" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="hide_plotforspoiler" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="enable_libraryclearlogo" type="bool">false</setting>
    <setting id="scopemode" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">true</setting>
    <setting id="enable_librarydiscartoverlay" type="bool">false</setting>
    <setting id="disable_pvrnextup" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">true</setting>
    <setting id="show_musicvisualisation" type="bool">false</setting>
    <setting id="SkinHelper.EnableAddonsLookups" type="bool">true</setting>
    <setting id="no_slide_animations" type="bool">false</setting>
    <setting id="topnameitem" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="hide_popup" type="bool">false</setting>
    <setting id="powermenu_list" type="bool">false</setting>
    <setting id="smallosdvideo" type="bool">false</setting>
    <setting id="circle_rating" type="bool">false</setting>
    <setting id="circle_userrating" type="bool">false</setting>
    <setting id="circle_bothrating" type="bool">false</setting>
    <setting id="hide_osdinfo" type="bool">false</setting>
    <setting id="show_discart" type="bool">false</setting>
    <setting id="show_disc" type="bool">false</setting>
    <setting id="enable_playerclearart" type="bool">false</setting>
    <setting id="enable_artistclearart" type="bool">false</setting>
    <setting id="opacitybars_0" type="bool">false</setting>
    <setting id="disablethemes" type="bool">false</setting>
    <setting id="opacitybars_5" type="bool">false</setting>
    <setting id="opacitybars_10" type="bool">false</setting>
    <setting id="opacitybars_15" type="bool">false</setting>
    <setting id="opacitybars_20" type="bool">false</setting>
    <setting id="opacitybars_25" type="bool">false</setting>
    <setting id="opacitybars_30" type="bool">false</setting>
    <setting id="opacitybars_35" type="bool">false</setting>
    <setting id="opacitybars_40" type="bool">false</setting>
    <setting id="opacitybars_45" type="bool">false</setting>
    <setting id="opacitybars_50" type="bool">false</setting>
    <setting id="opacitybars_55" type="bool">false</setting>
    <setting id="opacitybars_60" type="bool">false</setting>
    <setting id="opacitybars_65" type="bool">false</setting>
    <setting id="show_artistbanner" type="bool">false</setting>
    <setting id="opacitybars_70" type="bool">false</setting>
    <setting id="opacitybars_75" type="bool">false</setting>
    <setting id="opacitybars_80" type="bool">false</setting>
    <setting id="show_musicvideoinfo" type="bool">false</setting>
    <setting id="opacitybars_85" type="bool">false</setting>
    <setting id="opacitybars_90" type="bool">false</setting>
    <setting id="opacitybars_95" type="bool">false</setting>
    <setting id="opacitybars_100" type="bool">false</setting>
    <setting id="enable_playerclearlogo" type="bool">false</setting>
    <setting id="show_artistclearlogo" type="bool">false</setting>
    <setting id="enablespashscreen" type="bool">false</setting>
    <setting id="hidemainmenuwithwidgets" type="bool">false</setting>
    <setting id="minimizemainmenu" type="bool">false</setting>
    <setting id="widgetanimation1" type="bool">false</setting>
    <setting id="widgetanimation2" type="bool">false</setting>
    <setting id="widgetanimation3" type="bool">false</setting>
    <setting id="widgetanimation4" type="bool">false</setting>
    <setting id="widgetanimation5" type="bool">false</setting>
    <setting id="widgetanimation6" type="bool">false</setting>
    <setting id="widgetanimation7" type="bool">false</setting>
    <setting id="widgetanimation8" type="bool">false</setting>
    <setting id="widgetanimation9" type="bool">false</setting>
    <setting id="show_albumsartistlag" type="bool">false</setting>
    <setting id="skinshortcuts-widget-14" type="string">LiveTVWidget</setting>
    <setting id="skinshortcuts-widget-15" type="string">RadioWidget</setting>
    <setting id="skinshortcuts-widget-16" type="string">GamesWidget</setting>
    <setting id="skinshortcuts-widget-17" type="string">AddonsWidget</setting>
    <setting id="skinshortcuts-widget-18" type="string">PicturesWidget</setting>
    <setting id="skinshortcuts-widget-19" type="string">VideoWidget</setting>
    <setting id="skinshortcuts-widget-20" type="string">FavoritesWidget</setting>
    <setting id="skinshortcuts-widget-21" type="string">WeatherWidget</setting>
    <setting id="skinshortcuts-widget-22" type="string">WeatherWidget</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="global-background" type="string"></setting>
    <setting id="WeatherFanart.path" type="string"></setting>
    <setting id="WeatherFanart.ext" type="string"></setting>
    <setting id="power_background" type="string"></setting>
    <setting id="settings_background" type="string"></setting>
    <setting id="search_background" type="string"></setting>
    <setting id="mypassword" type="string"></setting>
    <setting id="passcode" type="string"></setting>
    <setting id="gradientcolor" type="string"></setting>
    <setting id="bordercolor" type="string"></setting>
    <setting id="moviegenreicons.path" type="string"></setting>
    <setting id="widgetnumber" type="string"></setting>
    <setting id="studiologos.path" type="string"></setting>
    <setting id="weathericons.name" type="string"></setting>
    <setting id="WeatherIcons.path" type="string"></setting>
    <setting id="WeatherIcons.multi" type="string"></setting>
    <setting id="recordlabels.path" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="userratingstringcolor" type="string"></setting>
    <setting id="ratingstringcolor" type="string"></setting>
    <setting id="moviecountryicons.path" type="string"></setting>
    <setting id="password_time" type="string"></setting>
    <setting id="scope_mode" type="string"></setting>
    <setting id="skincolor" type="string"></setting>
    <setting id="mediaflagscolor" type="string"></setting>
    <setting id="splashscreen" type="string"></setting>
    <setting id="backgroundcolor" type="string"></setting>
    <setting id="patterncolor" type="string"></setting>
    <setting id="background_overlay" type="string"></setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="lyricscolor1" type="string"></setting>
    <setting id="lyricscolor2" type="string"></setting>
    <setting id="lyricscolor3" type="string"></setting>
    <setting id="lyricscolor4" type="string"></setting>
    <setting id="skinhelper.forcedviews.movies" type="string"></setting>
    <setting id="skinhelper.forcedviews.sets" type="string"></setting>
    <setting id="skinhelper.forcedviews.setmovies" type="string"></setting>
    <setting id="skinhelper.forcedviews.tvshows" type="string"></setting>
    <setting id="skinhelper.forcedviews.seasons" type="string"></setting>
    <setting id="skinhelper.forcedviews.episodes" type="string"></setting>
    <setting id="skinhelper.forcedviews.artists" type="string"></setting>
    <setting id="skinhelper.forcedviews.albums" type="string"></setting>
    <setting id="skinhelper.forcedviews.musicvideos" type="string"></setting>
    <setting id="moviegenrefanart.name" type="string"></setting>
    <setting id="moviegenreicons.name" type="string"></setting>
    <setting id="moviecountryicons.name" type="string"></setting>
    <setting id="weatherfanart.name" type="string"></setting>
    <setting id="studiologos.name" type="string"></setting>
    <setting id="recordlabels.name" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">DiscWidget</setting>
    <setting id="skinshortcuts-widget-2" type="string">MoviesWidget</setting>
    <setting id="skinshortcuts-widget-3" type="string">MoviesWidget</setting>
    <setting id="skinshortcuts-widget-4" type="string">MoviesWidget</setting>
    <setting id="skinshortcuts-widget-5" type="string">TVShowsWidget</setting>
    <setting id="skinshortcuts-widget-6" type="string">TVShowsWidget</setting>
    <setting id="skinshortcuts-widget-7" type="string">TVShowsWidget</setting>
    <setting id="skinshortcuts-widget-8" type="string">MusicWidget</setting>
    <setting id="skinshortcuts-widget-9" type="string">MusicWidget</setting>
    <setting id="skinshortcuts-widget-10" type="string">MusicWidget</setting>
    <setting id="skinshortcuts-widget-11" type="string">MusicVideosWidget</setting>
    <setting id="skinshortcuts-widget-12" type="string">MusicVideosWidget</setting>
    <setting id="skinshortcuts-widget-13" type="string">MusicVideosWidget</setting>
    <setting id="Startup.Playlist.Path" type="string"></setting>
    <setting id="Startup.Favourites.Label" type="string"></setting>
    <setting id="Startup.Favourites.Path" type="string"></setting>
</settings>
